body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: black;
    font-family: Arial, sans-serif;
    text-align: center;
}

#bg-div {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -9999;
    display: block;
    background: url(background.jpg) no-repeat center center fixed;
    background-size: cover;
    opacity: 0.3;
}

#countdown {
    font-size: 2em;
}

.caution {
    color: darkred;
}